<h1>Add New Feed</h1>
<form action="<%= @next %>" method="post">
	<fieldset>
		<legend>Fill in the following details</legend>
		<div style="margin-bottom: 10px;">
			<label for="id_name"><strong>Url</strong></label>
			<label><a href="<%= @fd.url %>"><%= @fd.url %></a>    		
		</div>
		<div style="margin-bottom: 10px;">
			<label for="id_title"><strong>Title</strong></label>
			<label><%= @fd.title %></label>
		</div>
		<div style="margin-bottom: 10px;">
			<label for="id_description"><strong>Description</strong></label>
			<input id="id_description" name="description" type="text" value="<%= @fd.description %>" />    		
		</div>
	</fieldset>	
  <div class="actions">
  	<input type="submit", class="btn btn-primary" value="<%= @button_name %>" />    
  </div>
</form>