<h1>My Subscribed Feeds</h1>

<div style="padding-top: 5px; margin-bottom: 10px;">
	<a href="/links/new/feed" class="btn btn-success">Subscribe to new feed</a>
</div>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Feed</th>
				<th>Added On</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
      <% @feeds.each do |feed| %>
			<tr>
				<td><a href="/feeds/<%= feed.id %>/items/"><%= feed.title %></a></td>
				<td><%= feed.added_on %></td>
				<td><a href="/feeds/<%= feed.id %>" class="muted">Details</a></td>
			</tr>			
		</tbody>
	</table>
	<%= will_paginate @feeds, :renderer => BootstrapPagination::Sinatra %>
</div>