<h1>My Subscribed Feeds</h1>

<div style="padding-top: 5px; margin-bottom: 10px;">
	<a href="/feeds/new" class="btn btn-success">Subscribe to new feed</a>
</div>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Feed</th>
				<th>Added On</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<% @feeds.each do |f| %>	
			<tr>
				<td><a href="/feeds/<%= f.id %>/items/"><%= f.title %></a></td>
				<td><%= f.added_on %></td>
				<td><a href="/feeds/<%= f.id %>" class="muted">Details</a></td>
			</tr>
		<% end %>			
		</tbody>
	</table>
	<%= will_paginate @feeds, :renderer => BootstrapPagination::Sinatra %>
</div>