<h1>Details</h1>
<fieldset>
	<legend>Feed</legend>
	<div style="margin-bottom: 10px;">
		<label><strong>Feed Url</strong></label>
		<a href="<%= @fd.url %>"><%= @fd.url %></a>		
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Web Url</strong></label>
		<a href="<%= @fd.web_url %>"><%= @fd.web_url %></a>		
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Title</strong></label>
		<%= @fd.title %>
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Description</strong></label>
		<%= @fd.description %>
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Added On</strong></label>    
		<%= @fd.added_on %>
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Last Updated On</strong></label>    
		<%= @fd.last_updated_on %>
	</div>
	<!--
	<div style="margin-bottom: 10px;">
		<label><strong>Number Of Items</strong></label>    
		120
	</div> 
	<div style="margin-bottom: 10px;">
		<label><strong>Number Of Unread Items</strong></label>    
		50
	</div>   					
	-->
</fieldset>
<p>
	<a href="/feeds/<%= @fd.id %>/pin" class="btn btn-inverse">Pin</a>
	<!-- <a href="/feeds/<%= @fd.id %>/edit" class="btn btn-warning">Edit</a> -->
	<a href="/feeds/<%= @fd.id %>/delete" class="btn btn-danger">Unsubscribe</a>	
</p>