<h1><%= @heading %></h1>
<form action="<%= @next %>" method="post">
	<fieldset>
		<legend>Fill in the following details</legend>
		<div style="margin-bottom: 10px;">
			<label for="id_name"><strong>Url</strong></label>
			<label><a href="<%= @bm.url %>"><%= @bm.url %></a>    		
		</div>
		<div style="margin-bottom: 10px;">
			<label for="id_title"><strong>Title</strong></label>
			<label><%= @bm.title %></label>
		</div>
		<div style="margin-bottom: 10px;">
			<label for="id_name"><strong>Name</strong></label>
			<input id="id_name" name="name" type="text" value="<%= @bm.name %>" />    		
		</div>
		<div style="margin-bottom: 10px;">
			<label for="id_notes"><strong>Notes</strong></label>
			<textarea id="id_notes" name="notes" rows="3"><%= @bm.notes %></textarea>
		</div>		              					
	</fieldset>	
  <div class="actions">
  	<input type="submit", class="btn btn-primary" value="<%= @button_name %>" />    
  </div>
</form>